<div class="topbar">
  <div class="title">Global Chat</div>
  <div class="status">
    <span id="onlineCount">-</span> Pengguna Online
    <div id="onlineUsers" class="online-users" style="font-size:12px;opacity:.8;margin-top:2px">-</div>
  </div>
  <div class="actions">
    <button id="logoutBtn">Logout</button>
  </div>
</div>
